body {
    font-family: 'Noto Sans', sans-serif;
}

.media .actions {
    display: none;
}

.media:hover .actions {
    display: block;
}

.widget .section-actions {
    display: none;
}

.widget:hover .section-actions {
    display: block;
}

.section-header {
    min-height: 60px;
}

.section-header span {
    color: #98a8b4;
}

.c-info {
    color: #5bc0de;
    text-decoration: none;
}

.c-info:hover {
    color: #5bc0de;
    text-decoration: underline;
}

.c-danger {
    color: #fe195e;
    text-decoration: none;
}

.c-danger:hover {
    color: #fe195e;
    text-decoration: underline;
}

.quiz-content {
    background: #f4f4f4;
    border: 2px solid #eaeaea;
    padding: 60px 0 30px;
}

.question-label {
    font-weight: 600;
    padding: 0 30px;
}

.required {
    color: red;
}

.appear-disabled,
.appear-disabled:hover {
    background: #9086b9;
    border: #9086b9;
    cursor: not-allowed;
}

.grey-widget .widget-header,
.grey-widget .widget-body {
    background: #eee;
    border: 1px solid #e6e6e6;
}

.btn-outline-green {
    color: green;
    border: 1px solid green;
}

.btn-outline-green:hover {
    color: #fff;
    background: green;
    border: 1px solid green;
}